API_KEY_PERSPECTIVE=""

URL_MISTRAL=
API_KEY_MISTRAL=""

URL_VICUNA=
API_KEY_VICUNA=""

URL_GEMMA=
API_KEY_GEMMA=""

URL_GPT4=""
API_KEY_GPT4=""

URL_LLAMA3=
API_KEY_LLAMA3=""

URL_VICUNAUC=
API_KEY_VICUNAUC=""

URL_CAPYBARA=
API_KEY_CAPYBARA=""